:root{
      --background-color:#7341da;
}
*{
      font-family:'Courier New', Courier, monospace;
      text-transform: uppercase;
      margin: 0;
      padding: 0;
      box-sizing: border-box;
}
html{
      display: flex;
      justify-content: center;
      align-items: center;
}
body{
      display: flex;
      justify-content:center;
      align-items: center ;
      text-align: center;
      min-height: 100vh;
      flex-direction: column;
      background-color: black;
}
#mapCanvas{
      /* background-color: var(--background-color); */
      background-color: #000146;
}
h1{
      min-width: 80%;
      margin: 50px 0;
      position: relative;
      color: rgba(0,0,0,0.85);
      font-size: 64px;
      background: linear-gradient(90deg,var(--background-color),#0f0,var(--background-color));
      background-clip: text;
      -webkit-text-stroke: 2px transparent;
}
h1:before{
      position: absolute;
      color: black;
      font-size: 64px;
      /* background: linear-gradient(90deg,transparent,crimson,transparent),
                  radial-gradient(crimson, skyblue , orange); */
      background-clip: text;
      -webkit-text-stroke: 3px transparent;
      content: attr(data-text);
      z-index: -1;
      opacity: 1;
}
h1:after{
      min-width: 100%;
      inset: 0;
      position: absolute;
      color: black;
      font-size: 64px;
      background: linear-gradient(90deg,crimson,#0f0,crimson);
      background-clip: text;
      -webkit-text-stroke: 4px transparent;
      content: attr(data-text);
      z-index: -1;
      opacity: 2;
}